.SearchBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.SearchBar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.ShareInput {
    width: 60%;
}

.AmountInput {
    width: 20%;
}

.SearchBar button:last-child {
    background-color: #83a8cf;
    cursor: pointer;
    width: 20%;
    box-shadow: none;
    border: none;
    border-radius: 2px;
}

.InvestmentTable {
    width: 100%;
    border-collapse: collapse;
}

.InvestmentTable th,
.InvestmentTable td {
    padding: 12px 15px;
    border: 1px solid #eee;
}

.InvestmentTable th {
    background-color: #83a8cf;
    text-align: left;
}