.header {
  width: 100vw;
}

.NavBar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.NavBar a {
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 1.2rem;
  display: block;
  padding: 12px 0;
  width: 33%;
  transition: background-color 0.3s ease;
}

.NavBar a:hover {
  background-color: #b6c3d281;
}

.SectionActive {
  background-color: #b6c3d281;
  border-bottom: 2px solid #83a8cf;
}